h1 {
  font-family: Caveat, sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 2px;
}

body {
  margin: 50px 50px 50px 50px;
  background-color: #d0b9e6;
}

h2 {
  font-size: 1.2em;
}

main {
  font-size: 1.1em;
}

.pic {
  display: flex;
  /*margin-left: auto;
  margin-right: auto;*/
  justify-content: center;
  /*width: 50%;*/
}

.mom-pic {
  height: 440px;
  width: auto;
  /*text-align: center;*/
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}
